extends layout
include mixin/_hotel
include mixin/_country_list

block content
  .outer_wrapper 
    .hotel_wrapper 
      h2 Hotels 
        a(href="/all") (See All):
      
      ul  
        each hotel in filteredHotels
          +hotel(hotel)

    .country_wrapper 
      h2 Countries 
        a(href="/countries") (See All)
      ul 
        each country in filteredCountries 
          +countryList(country._id)